{% extends "base.html" %}

{% block content %}
  <h1>TODO list <a href="{% url "todo:task-create" %}">+</a></h1>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <strong>{{ task.content }}</strong>
        <form action="{% url "todo:task-toggle" task.id %}" method="post">
          {% csrf_token %}
          {% if task.done %}
            <input class="btn btn-secondary" type="submit" value="Undo">
          {% else %}
            <input class="btn btn-primary" type="submit" value="Complete">
          {% endif %}
        </form>
        {% if task.done %}
          <strong style="color: green;">Done</strong>
        {% else %}
          <strong style="color: red;">Not done</strong>
        {% endif %}
        <br>
        <p>
          Created: {{ task.created_time }}
          {% if task.deadline %}
            <b style="color: darkred;">Dealine: {{ task.deadline }}</b>
          {% endif %}
        </p>
        <p>
          {% if task.tags.all %}
          Tags:
            {% for tag in task.tags.all %}
              {{ tag }}
            {% endfor %}
          {% else %}
          No tags
          {% endif %}
          <a href="{% url "todo:task-update" task.id %}">Update</a>
          <a href="{% url "todo:task-delete" task.id %}">Delete</a>
        </p>
        <hr>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}